@media print  {
    body {
        font: 12pt Georgia, "Times New Roman", Times, serif;
        line-height: 1.3;
        background-color: #fff;
        }
        .print{display:none}
        @page { margin: 0; }
        body { margin: 1.6cm; }
        @page {
            size: A4;
          }
          .not-print{
              display: none;
          }
          .just-print{
            display: block !important;
            font-weight: 600;
            font-size: 14px;
        }
          

}
.just-print{
    display: none;
   
}
.logo{
    position: relative;
    float: right;
}
.company-name{
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    word-wrap: break-word;
    width: 240px;
    margin: 0 auto;
}
.header-mektup{
    
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    word-wrap: break-word;
    width: 240px;
    margin: 0 auto;
}
.konu{
    margin: 20px 0;
    font-weight: 600;
    color:#000;
}
.firma-unvan{
    font-weight: 600;
    color:#000;
}
.firma-unvan .firma-adi{
    /* text-transform: uppercase; */
    font-weight: 600;
    color:#000;
}
.secili-tarih{
    font-weight: 600;
    color:#000;
}
table{
    width:100%;
}
.bilgi{
    border: 2px solid #ccc;
    width:100%;
}
table.bilgi,table.mutabik{
    border-collapse: collapse;
    border: 1px solid black;
}
table.mutabik td{
    padding: 10px;
    border: 1px solid black;
}
table.bilgi > thead > tr > td,table.bilgi > tbody >  tr >td{
    /* padding: 5px; */
    border: 1px solid black;
    text-align: center;
}
table,th,td{
    padding: 0;
}

