<loader [loading]="loading"></loader>
<div class="box-btns">   
        <a [routerLink]="['/babs-mutakabat']" class="btn btn-default green clearfix" style="float:right">Yeni Mutakabat</a>
    </div>
   
    <table class="table table-responsive">
        <thead>
            <tr>            
                <!-- <th>Cari İsim</th>
                <th>Cari Kod</th> -->
                <th>Yil</th>
                <th>Ay</th>
                <th>Tarih</th>
                <th>Değiştirme Tarihi</th>
                <th>Mutabık</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <!-- <td><input type="text" name="cariKod" [(ngModel)]="model.cariKod" (keyup)="getirData(model.cariKod)" placeholder="Cari Kod" autocomplete="off" class="form-control" /></td>
                <td><input type="text" name="cariIsim" [(ngModel)]="model.cariIsim" (keyup)="getirData(model.yil)" placeholder="Yıl" autocomplete="off" class="form-control" /></td> -->
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr *ngFor="let m of mutakabats" [ngClass]="{'pasive': !m.durum}">            
                <!-- <td>{{m.cariIsim}}</td>
                <td>{{m.cariKod}}</td> -->
                <td>{{m.yil}}</td>
                <td>{{m.ay}}</td>
                <td>{{getDateFormated(m.createdDate)}}</td>
                <td>{{getDateFormated(m.updatedDate)}}</td>
                <td>
                    <label>
                    <input style="margin-left:10px" type="checkbox" disabled class="form-check-input" [ngModel]="m.durum" name="isActive"  >
                    <span></span>
                </label>
                </td>
                <td>     
                    <!-- <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-folder"></i> Detay </a> -->
                    <a [routerLink]="['/babs-mutakabat',{id:m.id,durum:m.durum,yil:m.yil,ay:m.ay}]" class="btn btn-info btn-sm"><i class="fa fa-pencil"></i> Güncelle </a>
                  
                  </td>
            </tr>
        </tbody>
    </table>
    <div class="text-center">
    <ngb-pagination  *ngIf="show | async" #pagination [pageSize]="itemsPerPage" [collectionSize]="totalItems" [(page)]="currentPage" (maxSize)="5" [boundaryLinks]="true" (pageChange)="pageChanged($event)">
    </ngb-pagination>
    </div>