<!-- <a href="#" class="print" onclick="window.print();return false;">Print</a> -->
<div class="not-print" style="margin-bottom:30px">
    <!-- <form class="form-inline">
        <div class="form-group">
          <label for="staticEmail2" class="">Yıl &nbsp;</label>
         
          <select class="form-control" name="guncelYil"  [ngModel]="guncelYil">
            <option *ngFor="let yil of yillar" [ngValue]="yil">{{yil}}</option>
         </select>
     
        </div>
        <div class="form-group">
                <label for="staticEmail2" class="">Yıl &nbsp;</label>
               
                <select class="form-control" name="guncelYil"  [ngModel]="guncelYil">
                  <option *ngFor="let yil of yillar" [ngValue]="yil">{{yil}}</option>
               </select>
           
        </div>
        <button type="submit" class="btn btn-primary">Devam</button>
        <button type="submit" class="btn btn-primary justify-content-end" style="float:right">Print</button>
      </form> -->

    <!-- form-row align-items-center -->

    <form id="targetForm">
        <loader [loading]="loading"></loader>
        <div class="form-row align-items-center">
            <div class="col-auto">
                <label class="" for="inlineFormInput">Yıl</label>
                <!-- <input type="text" class="form-control mb-2 mb-sm-0" id="inlineFormInput" placeholder="Jane Doe"> -->
                <select class="form-control" name="guncelYil" [(ngModel)]="guncelYil">
                <option *ngFor="let yil of yillar" [ngValue]="yil">{{yil}}</option>
             </select>
            </div>
            <div class="col-auto">
                <label class="" for="inlineFormInputGroup">Ay</label>
                <select class="form-control" name="guncelAy" [(ngModel)]="guncelAy">
                <option *ngFor="let ay of aylar" [ngValue]="ay">{{ay}}</option>
             </select>
            </div>

            <div class="col-auto" style="margin-top:32px">
                <button type="submit" [disabled]="disabled" class="btn btn-success" (click)="getCari()">Getir</button>
            </div>
            <div class="col-auto" style="margin-top:32px">
                <button type="button"  class="btn btn-info" (click)="goBack()">Geri</button>
            </div>
            <div class="col-auto clearfix" style="margin-top:32px;margin-left:auto">
                <button type="submit" class="btn  red" style="float:right" onclick="window.print();return false;">Print</button>
            </div>
        </div>
    </form>
</div>
<img src={{setting?.logoPath}} class="logo" width="90" height="50">
<div class="clearfix">
    <p class="company-name">
        {{setting?.companyName}}
    </p>
</div>
<div style="margin:30px 0">
    <p class="header-mektup">
        BA-BS Mutakabat Mektubu
    </p>
</div>
<p style="margin-left:20px">{{fortmatDated}}</p>
<!-- <p class="konu">Konu : 213 Sayılı VUK'un 362 Sıra Nolu Genel Tebliği Kapsamında 
    Bildirilmesi Gereken Form Ba ve Form Bs Mutakabat Hk;</p> -->
<div [innerHTML]="setting?.babsKonu"></div>
<p class="firma-unvan">
    Firma Ünvanı; <span class="firma-adi">
        {{seciliCari?.carI_ISIM}}
    </span>
</p>
<p>
    <span class="secili-tarih">{{getMonthName}}/{{guncelYil}} </span> 
    <!-- <span>
            sayına ait Ba ve Bs formlarında karşılıklı mutabakatın
            sağlanması açısından firmanıza ait Alış ve Satışlarınıza ilişkin form bilgilerimiz aşağıda sunulmuştur.Konu ile ilgili
            mutabakat durumunuzu bu mektubun alt kısmını onaylayarak tarafımıza faks gönderilmesini, eğer mutabık değilseniz Firmanız
            kayıtlarında gözüken fatura adedini ve faturaların toplam tutarını yazarak tarafımıza en kısa zamanda göndermenizi rica
            ederiz.
    </span> -->
    <span [innerHTML]="setting?.babsAciklama"></span>

</p>
<div class="clearfix" style="margin:20px 0">
    <div style="float:left">
        <p>
            Saygılarımızla.
        </p>

    </div>
    <div style="float:right">
        <table>
            <tr>
                <td>Tel</td>
                <td>:</td>
                <td>{{setting?.phone}}
                </td>
            </tr>
            <tr>
                <td>Faks</td>
                <td>:</td>
                <td>{{setting?.fax}}
                </td>
            </tr>
            <tr>
                <td>Email</td>
                <td>:</td>
                <td>{{setting?.email}}</td>
            </tr>
        </table>

    </div>
</div>
<div>

    <p>Ba-Bs Formu Bilgilerimiz :</p>
    <table class="bilgi">
        <thead>
            <tr>
                <td>Adı ve Ünvanı</td>
                <td>Vergi/T.C. Kimlik No:</td>
                <td>Belge Adedi</td>
                <td>Toplam Bedeli(Kdv Hariç)</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    {{seciliCari?.carI_ISIM}}
                </td>
                <td style="padding:0;height:100%">
                    <table class="" style="width:100%;height:100%">
                        <tr>
                            <td></td>
                            <td style="width:20%;border-left:1px solid #000">
                                <table>
                                    <tr>
                                        <td style="border-bottom:1px solid #000">
                                            BS
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            BA
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table>
                        <tr>
                            <td style="border-bottom:1px solid #000">
                                {{seciliCari?.bS_SAYI}}
                            </td>

                        </tr>
                        <tr>
                            <td>{{seciliCari?.bA_SAYI}}</td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table>
                        <tr>
                            <td style="border-bottom:1px solid #000">
                                {{seciliCari?.bS_TUTAR}}
                            </td>

                        </tr>
                        <tr>
                            <td>{{seciliCari?.bA_TUTAR}}</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div style="margin-top:20px;width:250px">
    <table class="mutabik">
        <tr>
            <td style="width:70%">                  
                <button (click)="onSubmit(true)" [disabled]="mutabikButtonsDisabled" type="button" class="btn btn-success not-print">
                <i class="fa fa-check" aria-hidden="true"></i>MUTAKABIZ
                </button>
                <p class="just-print">MUTAKABIZ</p>
            </td>
            <td>
                <i *ngIf="babs?.mutabik"   class="fa fa-check" style="font-size:25px" aria-hidden="true"></i>
            </td>
        </tr>
        <tr>
            <td>                  
                <button (click)="onSubmit(false)" [disabled]="mutabikButtonsDisabled" type="submit" class="btn  btn-warning not-print">
                <i class="fa fa-ban" aria-hidden="true"></i>MUTAKABIK DEĞİLİZ
                </button>
                <p class="just-print">MUTAKABIK DEĞİLİZ</p>
            </td>
            <td>
                    <i *ngIf="babs?.mutabik!=undefined && !babs?.mutabik"  class="fa fa-check" style="font-size:25px" aria-hidden="true"></i>
            </td>
        </tr>
    </table>
   
</div>