
  <!-- <div class="loader"  *ngIf="loading"></div> -->
  <div *ngIf="loading" style="position:absolute;top:30%;left:45%;right:0;margin:auto;z-index:999999" ng-show="yukleniyor">
      <i class="fa fa-refresh fa-spin fa-5x fa-fw " style="color:#10A8D6"></i>
  </div>