<div class="page-header" id="page-header" *ngIf="isAuthenticated">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light ">
      <a class="navbar-brand" style="color:#fff" [routerLink]="['']">BaBs</a>
      <button (click)="toggleMenu()" class="navbar-toggler  custom-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


      <div #navbarSupportedContent [ngClass]="{'collapse':menuClose}" class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <!-- <li class="nav-item " routerLinkActive="active" [routerLinkActiveOptions]="{exact:
  true}">
            <a class="nav-link" [routerLink]="['']">Home</a>
          </li> -->
          <li class="nav-item " routerLinkActive="active" [routerLinkActiveOptions]="{exact:
              true}">
            <a class="nav-link" [routerLink]="['babs-mutakabat-list']">BABS Mutakabat</a>
          </li>
          <li class="nav-item " routerLinkActive="active" [routerLinkActiveOptions]="{exact:
            true}">
            <a class="nav-link" [routerLink]="['cari-mutakabat-list']">Cari Mutakabat</a>
          </li>
          <li *ngIf="isAdmin" class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
  true}">
            <a class="nav-link" [routerLink]="['/users']">Kullanıcılar</a>
          </li>
          <li *ngIf="isAdmin" class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
              true}">
            <a class="nav-link" [routerLink]="['/setting']">Ayarlar</a>
          </li>
          <li *ngIf="isAdmin" ngbDropdown class="nav-item dropdown" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
            true}">

            <a class="nav-link dropdown-toggle" id="dropdownBasic1" ngbDropdownToggle>Log</a>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <a class="dropdown-item" [routerLink]="['/mutakabat-log',{tip:'babs'}]">BaBs Mutakabat Log</a>
              <a class="dropdown-item" [routerLink]="['/mutakabat-log',{tip:'cari'}]">Cari Mutakabat Log</a>
              <a class="dropdown-item" [routerLink]="['/user-log']">Kullanıcı Log</a>
            </div>

          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <p style="display: inline-block;color: #fff;
              padding-right: 10px;position: relative;
              font-size: 13px;top: 8px;">{{user.nameSurname}}</p>
          <a [routerLink]="['/login']">Çıkış</a>
        </form>
      </div>

    </nav>
  </div>
</div>