/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
  }
  .container, .row {
    height: 100%;
    min-height: 100%;
  }
body,html {
   height:100%;
    background-color: #eff3f8;
    color: #333;  
    font-size: 14px;
}
/* @page { size: auto;  margin: 0mm; } */
body, h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans",sans-serif;
}
@media print {
    
    #page-header {display:none;}
    
    
}
a, button, code, div, img, input, label, li, p, pre, select, span, svg, table, td, textarea, th, ul {
    -webkit-border-radius: 0!important;
    -moz-border-radius: 0!important;
    border-radius: 0!important;
}
a {
    text-shadow: none;
    color: #337ab7;
}
.btn, .form-control {
    box-shadow: none!important;
}
.btn {
    outline: 0!important;
}
.btn:not(.btn-sm):not(.btn-lg) {
    line-height: 1.44;
}
.btn.green:not(.btn-outline) {
    color: #FFF;
    background-color: #32c5d2;
    border-color: #32c5d2;
}
.btn.red:not(.btn-outline) {
    color: #fff;
    background-color: #e7505a;
    border-color: #e7505a;
}
a, button, code, div, img, input, label, li, p, pre, select, span, svg, table, td, textarea, th, ul {
    -webkit-border-radius: 0!important;
    -moz-border-radius: 0!important;
    border-radius: 0!important;
}
.box-btns{background-color:#e7ecf1;position:relative}
.help-block{color:red;}
.ng-valid[required], .ng-valid.required  {
  border-left: 2px solid #42A948; /* green */
}
.ng-invalid:not(form)  {
  border-left: 2px solid #a94442; /* red */
}
/*table*------*/
.table-scrollable {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    border: 1px solid #e7ecf1;
    margin: 10px 0!important;
}
.table-scrollable>.table-bordered {
    border: 0;
}
.table-scrollable>.table {
    width: 100%!important;
    margin: 0!important;
    background-color: #fff;
}
.table td, .table th {
    font-size: 14px;
}
.table-scrollable>.table-bordered>tbody>tr>td:first-child, .table-scrollable>.table-bordered>tbody>tr>th:first-child, .table-scrollable>.table-bordered>tfoot>tr>td:first-child, .table-scrollable>.table-bordered>tfoot>tr>th:first-child, .table-scrollable>.table-bordered>thead>tr>td:first-child, .table-scrollable>.table-bordered>thead>tr>th:first-child {
    border-left: 0;
}
.pagination {
    display: inline-flex !important;
}
.table tr.pasive{
  color:gray;
}
input[type=checkbox] {
    /* zoom: 1.5; */
}
input {
    display: none;
  }
  
  label input[type=checkbox] ~ span {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    background: #fff;
    border: 1px solid #888;
    padding: 1px;
    height: 20px;
    width: 20px;
  }
  
  label input[type=checkbox]:checked ~ span {
    /* image: Picol.org, cc-by 3.0, https://commons.wikimedia.org/wiki/File:Accept_Picol_icon.svg */
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><path d="M14 18L26 6l4 4-16 16L4 16l4-4z"/></svg>');
    background-size: 100%;
  }
  input[type=checkbox]  {
    color: #ccc;
    font-style: italic;
  } 
  input[type=checkbox]:checked {
    color: #f00;
    font-style: normal;
  }
