<div class="container">
    <div class="center">
        <loader [loading]="loading"></loader>

    </div>
    <form class="col-12" (ngSubmit)="onSubmit($event)" #frm1="ngForm" enctype="multipart/form-data">
        <!-- <input #fileInput type="file" class="form-control" accept=".jpg,.png,.jpeg" name="logoPath" /> -->
        <ngb-tabset [justify]="currentJustify">
            <ngb-tab title="Genel">
                <ng-template ngbTabContent>
                    <div style="margin-top:5px">
                        <div class="form-group row ">
                            <label for="inputEmail3" class="col-sm-2 col-form-label">Şirket Adı</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="companyName" [(ngModel)]="model.companyName" placeholder="Şirket Adı">
                            </div>
                            <label for="inputEmail3" class="col-sm-2 col-form-label">Adres</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="adress" [(ngModel)]="model.adress" placeholder="Adres">
                            </div>
                        </div>
                        <div class="form-group row ">
                            <label for="inputEmail3" class="col-sm-2 col-form-label">Şehir</label>
                            <div class="col">
                                <input type="text" class="form-control" name="city" [(ngModel)]="model.city" placeholder="Şehir">
                            </div>
                            <label for="inputEmail3" class="col-sm-2 col-form-label">İlçe</label>
                            <div class="col">
                                <input type="text" class="form-control" name="town" [(ngModel)]="model.town" placeholder="İlçe">
                            </div>
                        </div>

                        <div class="form-group row ">
                            <label for="inputEmail3" class="col-sm-2 col-form-label">Mahalle</label>
                            <div class="col">
                                <input type="text" class="form-control" name="country" [(ngModel)]="model.country" placeholder="Mahalle">
                            </div>
                            <label for="inputEmail3" class="col-sm-2 col-form-label">Telefon</label>
                            <div class="col">
                                <input type="text" class="form-control" name="phone" [(ngModel)]="model.phone" placeholder="Telefon">
                            </div>
                        </div>
                        <div class="form-group row ">
                            <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                            <div class="col">
                                <input type="text" class="form-control" name="email" [(ngModel)]="model.email" placeholder="Email">
                            </div>
                            <label for="inputEmail3" class="col-sm-2 col-form-label">Vergi Dairesi</label>
                            <div class="col">
                                <input type="text" class="form-control" name="taxOffice" [(ngModel)]="model.taxOffice" placeholder="Vergi Dairesi">
                            </div>
                        </div>
                        <div class="form-group row ">
                            <label for="inputEmail3" class="col-sm-2 col-form-label">Vergi Numarası</label>
                            <div class="col">
                                <input type="text" class="form-control" name="taxNumber" [(ngModel)]="model.taxNumber" placeholder="Vergi Numarası">
                            </div>
                            <label for="inputEmail3" class="col-sm-2 col-form-label">Fax</label>
                            <div class="col">
                                <input type="text" class="form-control" name="fax" [(ngModel)]="model.fax" placeholder="Fax">
                            </div>
                        </div>
                        <div class="form-group row ">
                            <label for="inputEmail3" class="col-sm-2 col-form-label">Sicil No</label>
                            <div class="col">
                                <input type="text" class="form-control" name="sicilNo" [(ngModel)]="model.sicilNo" placeholder="Sicil No">
                            </div>
                            <label for="inputEmail3" class="col-sm-2 col-form-label">Oda No</label>
                            <div class="col">
                                <input type="text" class="form-control" name="odaNo" [(ngModel)]="model.odaNo" placeholder="Oda No">
                            </div>
                        </div>
                        <div class="form-group row ">
                            <label for="inputEmail3" class="col-sm-2 col-form-label">Mersis No</label>
                            <div class="col">
                                <input type="text" class="form-control" name="mersisNo" [(ngModel)]="model.mersisNo" placeholder="Mersis No">
                            </div>
                            <label for="inputEmail3" class="col-sm-2 col-form-label">Resim</label>
                            <div class="col">
                                <!-- <input type="file" (change)="fileChange($event)"  accept=".jpg,.png,.jpeg" class="form-control" name="logoPath" [(ngModel)]="model.logoPath" placeholder="Resim"> -->
                                <input #fileInput type="file" class="form-control" accept=".jpg,.png,.jpeg" name="logoPath" />
                            </div>
                        </div>

                    </div>

                </ng-template>
            </ngb-tab>
            <ngb-tab title="Cari Mutakabat">
                <ng-template ngbTabContent>
                    <div style="margin-top:5px">

                        <div class="form-group row ">
                            <label for="inputEmail3" class="col-sm-2 col-form-label">Not</label>

                            <div class="col">
                                <ckeditor [config]="ckEditorConfig" name="cariKonu" [(ngModel)]="model.cariKonu" debounce="500"></ckeditor>

                            </div>
                        </div>
                    </div>

                </ng-template>
            </ngb-tab>
            <ngb-tab title="Babs">
                <ng-template ngbTabContent>
                    <div style="margin-top:5px">

                        <div class="form-group row ">
                            <label for="inputEmail3" class="col-sm-2 col-form-label">Konu</label>

                            <div class="col">
                                <ckeditor [config]="ckEditorConfig" name="babsKonu" [(ngModel)]="model.babsKonu" debounce="500"></ckeditor>

                            </div>
                        </div>
                        <div class="form-group row ">
                                <label for="inputEmail3" class="col-sm-2 col-form-label">Açıklama</label>
    
                                <div class="col">
                                    <ckeditor [config]="ckEditorConfig" name="babsAciklama" [(ngModel)]="model.babsAciklama" debounce="500"></ckeditor>
    
                                </div>
                            </div>
                    </div>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>


       
        <div class="form-group row ">
            <div class="col-sm-10 ml-auto ">
                <button type="submit" class="btn btn-success float-left clearfix">Kaydet</button>

            </div>
        </div>
    </form>
</div>