/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .col-form-label{
        text-align: left;
    }
}
@media (min-width: 992px) { 
    .col-form-label{
        text-align: center;
    }
}