<loader [loading]="loading"></loader>
<div class="box-btns">   
    <a [routerLink]="['/create-user']" class="btn btn-default green clearfix" style="float:right">Yeni Kullanıcı</a>
</div>
<table class="table table-responsive">
    <thead>
        <tr>            
            <th>Ad Soyad</th>
            <th>Email</th>
            <th>Telefon</th>
            <th>Aktif</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input type="text" name="nameSurname" [(ngModel)]="model.nameSurname" (keyup)="getirData(model.nameSurname)" placeholder="AdSoyad" autocomplete="off" class="form-control" /></td>
            <td><input type="text" name="email" [(ngModel)]="model.email" (keyup)="getirData(model.email)" placeholder="Email" autocomplete="off" class="form-control" /></td>
            <td><input type="text" name="mobilPhone" [(ngModel)]="model.mobilPhone" (keyup)="getirData(model.mobilPhone)" placeholder="Telefon" autocomplete="off" class="form-control" /></td>
            <td></td>
            <td></td>
        </tr>
        <tr *ngFor="let user of users" [ngClass]="{'pasive': !user.isActive}">            
            <td>{{user.nameSurname}}</td>
            <td>{{user.email}}</td>
            <td>{{user.mobilPhone}}</td>
            
            <td>
                <label>
                <input style="margin-left:10px" type="checkbox" disabled class="form-check-input" [ngModel]="user.isActive" name="isActive"  >
                <span></span>
            </label>
            </td>
            <td>     
                <!-- <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-folder"></i> Detay </a> -->
                <a [routerLink]="['/create-user',{id:user.id}]" class="btn btn-info btn-sm"><i class="fa fa-pencil"></i> Güncelle </a>
                <!-- <a href="#" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i> Sil </a> -->
              </td>
        </tr>
    </tbody>
</table>
<div class="text-center">
<ngb-pagination  *ngIf="show | async" #pagination [pageSize]="itemsPerPage" [collectionSize]="totalItems" [(page)]="currentPage" (maxSize)="5" [boundaryLinks]="true" (pageChange)="pageChanged($event)">
</ngb-pagination>
</div>