<loader [loading]="loading"></loader>   
    <table class="table table-responsive">
        <thead>
            <tr>           
               
                <th>Ad Soyad</th>
                <th>Ip</th>
                <th>Browser</th>
                <th>Os</th>
                <th>Tarih</th>
               
            </tr>
        </thead>
        <tbody>
          
            <tr *ngFor="let m of userLogs">            
              
                <td>{{m.user.nameSurname}}</td>
                <td>{{m.clientIp}}</td>
                <td>{{m.browser}}</td>
                <td>{{m.platform}}</td>
                <td>{{getDateFormated(m.loginDate)}}</td>
               
               
            </tr>
        </tbody>
    </table>
    <div class="text-center">
    <ngb-pagination  *ngIf="show | async" #pagination [pageSize]="itemsPerPage" [collectionSize]="totalItems" [(page)]="currentPage" (maxSize)="5" [boundaryLinks]="true" (pageChange)="pageChanged($event)">
    </ngb-pagination>
    </div>