<!-- col-md-6 col-md-offset-3 -->
<div class="col-12 col-md-9 pull-md-3 bd-content">
  
    <form (ngSubmit)="onSubmit()" #userForm="ngForm">
        <div class="form-group row">
            <label for="email" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
            <input type="text" class="form-control" id="email" validateExistColumn="email" tableName="User" [pkey]="model.id"   required [email]="true" [(ngModel)]="model.email" name="email" #email="ngModel" >
            <div [hidden]="email.valid || email.pristine" class="alert alert-danger" >
               <div *ngIf="email.errors!==null && email.errors.taken; else elseBlock2">Email adresi başka bir kullacıya ait!!!</div>
                <ng-template #elseBlock2> Mail adresi gerekli.</ng-template>
            </div>
            </div>
        </div>  
        <div class="form-group row">          
            <label for="nameSurname" class="col-sm-2 col-form-label">Ad Soyad</label>
            <div class="col-sm-10">
            <input type="text" class="form-control" id="nameSurname" required [(ngModel)]="model.nameSurname" name="nameSurname" #nameSurname="ngModel">
            <div [hidden]="nameSurname.valid || nameSurname.pristine" class="alert alert-danger">
                Ad Soyad gerekli
            </div>
            </div>
        </div>
        <div class="form-group row">          
            <label for="mobilPhone" class="col-sm-2 col-form-label">Telefon No</label>
            <div class="col-sm-10">
            <input type="text"  required pattern="^[2-9]{1}[0-9]{9}$" minlength="10" maxlength="10"  class="form-control" id="mobilPhone"  [(ngModel)]="model.mobilPhone" name="mobilPhone" #mobilPhone="ngModel">
            <div [hidden]="mobilPhone.valid || mobilPhone.pristine" class="alert alert-danger">
                Telefon gerekli(Maksimum  ve minimum 10 karakter)
            </div>
            </div>
        </div>
        <div class="form-group row">          
            <label for="mobilPhone" class="col-sm-2 col-form-label">Vergi/TC Numarası</label>
            <div class="col-sm-10">
            <input type="text"  required  minlength="10" maxlength="11"  class="form-control"   [(ngModel)]="model.vergiNumarasi" name="vergiNumarasi" #vergiNumarasi="ngModel">
            <div [hidden]="vergiNumarasi.valid || vergiNumarasi.pristine" class="alert alert-danger">
                Vergi/TC Numarasi gerekli(Maksimum 11  ve minimum 10 karakter)
            </div>
            </div>
        </div>
        <div class="form-group row">          
            <label for="mobilPhone" class="col-sm-2 col-form-label">Cari Kodu</label>
            <div class="col-sm-10">
            <input type="text"  required  minlength="2" maxlength="50"  class="form-control"   [(ngModel)]="model.cariKodu" name="cariKodu" #cariKodu="ngModel">
            <div [hidden]="cariKodu.valid || cariKodu.pristine" class="alert alert-danger">
                Cari Kodu gerekli(Maksimum 50  ve minimum 2 karakter)
            </div>
            </div>
        </div>
        <div class="form-group row">             
            <label for="password" class="col-sm-2 col-form-label">Password</label>
           <div class="col-sm-10">
            <input type="password" class="form-control" minlength="5" maxlength="8" id="password" required [(ngModel)]="model.password" name="password" #password="ngModel">
            <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
                Şifre gerekli.(Minimum 5,maksimum 8)
            </div>
           </div>
        </div>
        <div class="form-group row">
        <label class="col-sm-2"></label>
        <div class="col-sm-10">
            <div class="form-check">
                <label class="">
                    <input type="checkbox"  class="form-check-input" [(ngModel)]="model.isAdmin" name="isAdmin">
                    <span></span>
                    Admin mi
                </label>
            </div>
        </div>
        </div>
        <div class="form-group row">
                <label class="col-sm-2"></label>
                <div class="col-sm-10">
                  <div class="form-check">
                    <label class="">
                      <input type="checkbox"  class="form-check-input" [(ngModel)]="model.isActive" name="isActive"  >
                       <span></span>
                       Aktif mi
                    </label>
                  </div>
                </div>
        </div>
          <div class="form-group row">
            <label class="col-sm-2"></label>
            <div class="offset-sm-2 col-sm-10">
                <button type="submit" class="btn btn-success" [disabled]="!userForm.form.valid">Kaydet</button>
                <button type="button" class="btn btn-success" (click)="goBack()" >Geri</button>
            </div>
          </div>
         
       
    </form>
  
</div>
 