<loader [loading]="loading"></loader>
  
    <table class="table table-responsive">
        <thead>
            <tr>            
                <td>Cari İsim</td>
                <td>Yıl</td>
                <td>Ay</td>
                <th>Os</th>
                <th>Browser</th>
            
                <th>Durum</th>
                <th>Tarih</th>
               
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="text" name="cariIsim" [(ngModel)]="model.cariIsim" (keyup)="getirData(model.cariIsim)" placeholder="Cari İsim" autocomplete="off" class="form-control" /></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              
               
            </tr>
            <tr *ngFor="let m of logs">  
                <td>{{m.mutakabat.cariIsim}}</td> 
                <td>{{m.mutakabat.yil}}</td>      
                <td>{{m.mutakabat.ay}}</td>               
                <td>{{m.os}}</td>       
                <td>{{m.browser}}</td>
              
                <td><p *ngIf="m.mutakabatDurum;else elseBlock">Mutabik</p>
                    <ng-template #elseBlock>Mutabık Değil</ng-template>
                </td>
                <td>
                  {{getDateFormated(m.createdDate)}}
                </td>
                
            </tr>
        </tbody>
    </table>
    <div class="text-center">
    <ngb-pagination  *ngIf="show | async" #pagination [pageSize]="itemsPerPage" [collectionSize]="totalItems" [(page)]="currentPage" (maxSize)="5" [boundaryLinks]="true" (pageChange)="pageChanged($event)">
    </ngb-pagination>
    </div>