<div class="not-print" style="margin-bottom:30px">
  
    <form id="targetForm">
        <loader [loading]="loading"></loader>
        <div class="form-row align-items-center">
            <div class="col-auto">
                <label class="" for="inlineFormInput">Yıl</label>
                <!-- <input type="text" class="form-control mb-2 mb-sm-0" id="inlineFormInput" placeholder="Jane Doe"> -->
                <select class="form-control" name="guncelYil" [(ngModel)]="guncelYil">
                <option *ngFor="let yil of yillar" [ngValue]="yil">{{yil}}</option>
             </select>
            </div>
            <div class="col-auto">
                <label class="" for="inlineFormInputGroup">Ay</label>
                <select class="form-control" name="guncelAy" [(ngModel)]="guncelAy">
                <option *ngFor="let ay of aylar" [ngValue]="ay">{{ay}}</option>
             </select>
            </div>

            <div class="col-auto" style="margin-top:32px">
                <button type="submit" [disabled]="disabled" class="btn btn-success" (click)="getCari()">Getir</button>
            </div>
            <div class="col-auto" style="margin-top:32px">
                <button type="button" class="btn btn-info" (click)="goBack()">Geri</button>
            </div>
            <div class="col-auto clearfix" style="margin-top:32px;margin-left:auto">
                <button type="submit" class="btn  red" style="float:right" onclick="window.print();return false;">Print</button>
            </div>
        </div>
    </form>
</div>
<div #test>


    <img src={{setting?.logoPath}} class="logo" width="90" height="50">
    <div style="">
        <p class="header-mektup">
            Mutakabat Mektubu
        </p>
    </div>
    <div class="clearfix">
        <p class="company-name">
            {{setting?.companyName}}
        </p>
    </div>
    <p style="margin-left:20px">{{fortmatDated}}</p>
    <div>
        <ul class="wrapper-context">
            <li>
                <p class="konu">Sayın</p>
            </li>
            <li>:</li>
            <li>
                <p>{{seciliCari?.carI_ISIM}}</p>
            </li>

        </ul>
    </div>
    <div>
        <ul class="wrapper-context">
            <li>
                <p class="konu">Konu</p>
            </li>
            <li>:</li>
            <li>
                <p>Hesap Mutatabı Hakkında</p>
            </li>

        </ul>
    </div>
    <div style="margin-left:44px">
        <p>
            {{fortmatDated}} Tarihi itibari ile şirketimizdeki Cari Hesabınız
            <span class="fiyat">{{seciliCari?.tutar}} TL</span> (Alacak) bakiye vermektedir.
        </p>
        <p>
            Mutabık olup olmadığımınızı bildirmeniz rica ederiz.
        </p>
        <p style="">Saygılarımızla</p>
    </div>
    <div>
        <ul class="wrapper-context">
            <li>
                <p class="konu">Not</p>
            </li>
            <li>:</li>
            <!-- <li class="not2">
                <p>
                    <span style="margin-left:5px">1.</span> Mutakabat veya itirazınızı 1 ay içinde bildirmediğiniz takdirde
                    TDK md. 92 gereğince mutabık sayılacağınızı belirtiriz.
                </p>
                <p>
                    <span style="margin-left:5px">2.</span> Bskiyede mutabık olmadığımız hesap ekstresinin gönderilmesini
                    rica ederiz.
                </p>
            </li> -->

        </ul>
    </div>
    <!-- <p>1. Mutakabat veya itirazınızı 1 ay i&ccedil;inde bildirmediğiniz takdirde TDK md. 92 gereğince mutabık sayılacağınızı belirtiriz.</p>
    
    <p>2. Bakiyede mutabık olmadığımız hesap ekstresinin g&ouml;nderilmesini rica ederiz.</p> -->
    <div [innerHTML]="setting?.cariKonu"></div>

    <div style="margin-top:10px">
        <ul class="wrapper-context">
            <li>
                <p class="konu">Tel</p>
            </li>
            <li>:</li>
            <li>
                {{setting?.phone}}
            </li>

        </ul>
    </div>
    <div style="position:relative;top:-22px">
        <ul class="wrapper-context">
            <li>
                <p class="konu">Fax</p>
            </li>
            <li>:</li>
            <li>
                {{setting?.fax}}
            </li>

        </ul>
    </div>
    <div style="margin-top:20px;width:250px">
        <table class="mutabik">
            <tr>
                <td style="width:70%">
                    <button (click)="onSubmit(true)" [disabled]="mutabikButtonsDisabled" type="button" class="btn btn-success not-print">
                    <i class="fa fa-check" aria-hidden="true"></i>MUTAKABIZ
                    </button>
                    <p class="just-print">MUTAKABIZ</p>
                </td>
                <td>
                    <i *ngIf="babs?.mutabik" class="fa fa-check" style="font-size:25px" aria-hidden="true"></i>
                </td>
            </tr>
            <tr>
                <td>
                    <button (click)="onSubmit(false)" [disabled]="mutabikButtonsDisabled" type="submit" class="btn  btn-warning not-print">
                    <i class="fa fa-ban" aria-hidden="true"></i>MUTAKABIK DEĞİLİZ
                    </button>
                    <p class="just-print">MUTAKABIK DEĞİLİZ</p>
                </td>
                <td>
                    <i *ngIf="babs?.mutabik!=undefined && !babs?.mutabik" class="fa fa-check" style="font-size:25px" aria-hidden="true"></i>
                </td>
            </tr>
        </table>

    </div>
</div>
